/* Basic Styles */
body {
    background: rgb(245, 245, 245);
}

hr {
    border-top: 1px solid #28a745;
}

.fill-100-viewport {
    min-height: 100vh;
}

.top-space {
    margin-top: 5.5rem;
}

.track-line {
    width: .5rem;
    height: 3rem;
    margin-right: 50%;
    margin-left: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: white;
}

/* Tracks Styles */
.block-margin {
    margin-bottom: 2rem;
}

.card-size {
    height: 5rem;
}

.card-blocked, .card-blocked .card-text,
    .card-blocked .card-title {
    color: gray;
    background-color: lightgray;
}

.card-blocked .btn {
    border-color: gray;
    color: gray;
}



/* These draft styles for cards on the Tracks page*/
/*
.card-link {
    text-decoration: none;
}

.card-description {
    margin-bottom: 1rem;
}
*/

/* Title Styles */
.title-block {
    width: 60%;
    height: 35%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}