{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Track description -->
    <div class="container top-space">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row d-lg-none mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Past Simple</h1>
                                <hr>
                                <h4>Образование:</h4>
                                <ul>
                                    <li>
                                        Subject + V2 – утвердительное предложение
                                    </li>
                                    <p>
                                        Ex: I programmed.
                                    </p>
                                    <li>
                                        Subject + did + not + V(inf) – отрицательное предложение
                                    </li>
                                    <p>
                                        Ex: I didn’t program
                                    </p>
                                    <li>
                                        did + subject + V(inf) – вопросительное предложение
                                    </li>
                                    <p>
                                        Ex: Did I program?
                                    </p>
                                </ul>
                                <a href="lesson_4.html" class="btn btn-block btn-outline-success py-3 mt-4">Больше теории</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 1</h1>
                                <hr>
                                <p class="card-text lead">Rewrite the phrases in Past Simple</p>
                                <a href="exercise4_1.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 2</h1>
                                <hr>
                                <p class="card-text lead">Fill in the blanks with the Past Simple of the verbs in brackets</p>
                                <a href="exercise4_2.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 3</h1>
                                <hr>
                                <p class="card-text lead">Complete the sentences with the past simple (affirmative / negative / interrogative) of the verbs in brackets</p>
                                <a href="exercise4_3.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-none d-lg-block">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title display-4">Past Simple</h1>
                        <hr>
                        <h4>Образование:</h4>
                        <ul>
                            <li>
                                Subject + V2 – утвердительное предложение
                            </li>
                            <p>
                                Ex: I programmed.
                            </p>
                            <li>
                                Subject + did + not + V(inf) – отрицательное предложение
                            </li>
                            <p>
                                Ex: I didn’t program
                            </p>
                            <li>
                                did + subject + V(inf) – вопросительное предложение
                            </li>
                            <p>
                                Ex: Did I program?
                            </p>
                        </ul>
                        <a href="lesson_4.html" class="btn btn-block btn-outline-success py-3 mt-4">Больше теории</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
