{% extends "../common/layout.twig" %}

{% block content %}
    <!-- Lessons blocks -->
    <div class="container-fluid top-space">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4">Теория</h2>
                <hr class="block-margin">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 1</h4>
                        <p class="card-text lead">General outline &<br> Present Simple</p>
                        <a href="lesson_1.html" class="btn btn-block btn-outline-success py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 2</h4>
                        <p class="card-text lead">Present<br>Continuous</p>
                        <a href="lesson_2.html" class="btn btn-block btn-outline-success py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 3</h4>
                        <p class="card-text lead">Present Simple vs<br> Present Continuous</p>
                        <a href="lesson_3.html" class="btn btn-block btn-outline-success py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 4</h4>
                        <p class="card-text lead">Past<br>Simple</p>
                        <a href="lesson_4.html" class="btn btn-block btn-outline-success py-3">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 5</h4>
                        <p class="card-text lead">Уже совсем скоро,<br>я так думаю</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 6</h4>
                        <p class="card-text lead">Смотрю на небо,<br>снег идет</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 7</h4>
                        <p class="card-text lead">Лучше в бекэнд,<br>там думать надо...</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 8</h4>
                        <p class="card-text lead">Во фронтенде<br> хорошо, наверно</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 9</h4>
                        <p class="card-text lead">Слушаю подкаст,<br>иногда надо</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 10</h4>
                        <p class="card-text lead">Ем и думаю,<br>думаю и ем.</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 11</h4>
                        <p class="card-text lead">Испанский?<br>Нет...</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card block-margin card-blocked">
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">Лекция 12</h4>
                        <p class="card-text lead">Понедельник -<br> нормальный день</p>
                        <a href="#" class="btn btn-block btn-outline-success disabled py-3">Читать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}