{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Exercise 1 Content -->
    <div class="container-fluid top-space">
        <!-- Title & Description -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="display-4">Упражнение 1</h1>
                <hr>
                <p class="lead">Put the verb into the correct form:</p>
            </div>
        </div>
        <!-- Exercise content -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <form>
                    <ol>
                        <li>
                            <div class="form-group">
                                <label for="question_1">She <strong>(make)</strong> sandwiches in the kitchen.</label>
                                <input type="text" class="form-control" id="question_1" name="question_1" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_2">John <strong>(arrive)</strong> later in the evening.</label>
                                <input type="text" class="form-control" id="question_2" name="question_2" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_3">They <strong>(travel)</strong> somewhere in France now.</label>
                                <input type="text" class="form-control" id="question_3" name="question_3" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_4">I <strong>(cover)</strong> for her tomorrow.</label>
                                <input type="text" class="form-control" id="question_4" name="question_4" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_5"><strong>(he/paint)</strong> his house?</label>
                                <input type="text" class="form-control" id="question_5" name="question_5" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_6">You <strong>(always/give)</strong> me a flat tire.</label>
                                <input type="text" class="form-control" id="question_6" name="question_6" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_7">It <strong>(raise)</strong> suspicions.</label>
                                <input type="text" class="form-control" id="question_7" name="question_7" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_8">It <strong>(take)</strong> too long!</label>
                                <input type="text" class="form-control" id="question_8" name="question_8" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_9">We <strong>(count)</strong> on you.</label>
                                <input type="text" class="form-control" id="question_9" name="question_9" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_10"><strong>(I/drill)</strong> the right wall?</label>
                                <input type="text" class="form-control" id="question_10" name="question_10" placeholder="Enter correct form">
                            </div>
                        </li>
                    </ol>
                    <!-- Submit & Back buttons -->
                    <div class="row justify-content-between">
                        <div class="col-lg-4 order-lg-1 d-none d-lg-block text-center">
                            <a href="homework_2.html" class="btn btn-block btn-outline-dark py-3 my-4">Назад</a>
                        </div>
                        <div class="col-12 order-12 d-block d-lg-none text-center">
                            <a href="homework_2.html" class="btn btn-block btn-outline-dark py-3 my-4">Назад</a>
                        </div>
                        <div class="col-lg-4 order-lg-12 d-none d-lg-block text-center">
                            <button type="submit" class="btn btn-block btn-outline-success py-3 my-4" data-toggle="modal" data-target="#urlModal">Сдать</button>
                        </div>
                        <div class="col-12 order-1 d-block d-lg-none text-center">
                            <button type="submit" class="btn btn-block btn-outline-success py-3 my-4" data-toggle="modal" data-target="#urlModal">Сдать</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal -->
            {% include "../../../common/modal.twig" %}
        </div>
    </div>
{% endblock %}