{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Track description -->
    <div class="container top-space">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row d-lg-none mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Present Continuous</h1>
                                <hr>
                                <h4>Образование:</h4>
                                <ul>
                                    <li>Subject + to be + V(ing) – утвердительное предложение</li>
                                    <li>Subject + to be + not + V(ing) – отрицательное </li>
                                    <li>to be + Subject + V(ing) - вопросительное</li>
                                </ul>
                                <h4>Употребление:</h4>
                                <ul>
                                    <li>Действие происходит в момент речи (сейчас)</li>
                                    <li>Более общие действия, происходящие сейчас / Тренды</li>
                                    <li>Действия, запланированные на будущее</li>
                                    <li>Временное действие</li>
                                    <li>Периодические раздражающие действия в связке с always, constantly</li>
                                </ul>
                                <a href="lesson_2.html" class="btn btn-block btn-outline-success py-3 mt-4">Больше теории</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 1</h1>
                                <hr>
                                <p class="card-text lead">Put the verb into the correct form</p>
                                <a href="exercise2_1.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 2</h1>
                                <hr>
                                <p class="card-text lead">Negate the sentences given. Use contractions (isn’t, we’re, etc.) when possible</p>
                                <a href="exercise2_2.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 3</h1>
                                <hr>
                                <p class="card-text lead">Compose questions</p>
                                <a href="exercise2_3.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title display-4">Упражнение 4</h1>
                                <hr>
                                <p class="card-text lead">Translate into English</p>
                                <a href="exercise2_4.html" class="btn btn-block btn-outline-success py-3 mt-4">Выполнить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-none d-lg-block">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title display-4">Present Continuous</h1>
                        <hr>
                        <h4>Образование:</h4>
                        <ul>
                            <li>Subject + to be + V(ing) – утвердительное предложение</li>
                            <li>Subject + to be + not + V(ing) – отрицательное </li>
                            <li>to be + Subject + V(ing) - вопросительное</li>
                        </ul>
                        <h4>Употребление:</h4>
                        <ul>
                            <li>Действие происходит в момент речи (сейчас)</li>
                            <li>Более общие действия, происходящие сейчас / Тренды</li>
                            <li>Действия, запланированные на будущее</li>
                            <li>Временное действие</li>
                            <li>Периодические раздражающие действия в связке с always, constantly</li>
                        </ul>
                        <a href="lesson_2.html" class="btn btn-block btn-outline-success py-3 mt-4">Больше теории</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}