{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Exercise 3 Content -->
    <div class="container-fluid top-space">
        <!-- Title & Description -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="display-4">Упражнение 3</h1>
                <hr>
                <p class="lead">Complete the negative sentences. Use Present Simple or Present Continuous:</p>
                <p>Ex: She <strong>(not/ride)</strong> her bike right now - She is not riding her bike right now.</p>
            </div>
        </div>
        <!-- Exercise content -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <form>
                    <ol>
                        <li>
                            <div class="form-group">
                                <label for="question_1">We <strong>(not/stay)</strong> at home tonight.</label>
                                <input type="text" class="form-control" id="question_1" name="question_1" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_2">I <strong>(not/like)</strong> microservices.</label>
                                <input type="text" class="form-control" id="question_2" name="question_2" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_3">They <strong>(not/know)</strong> the answer.</label>
                                <input type="text" class="form-control" id="question_3" name="question_3" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_4">I <strong>(not/sit)</strong> at the office at the moment.</label>
                                <input type="text" class="form-control" id="question_4" name="question_4" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_5">The lesson <strong>(start)</strong> at 9 am.</label>
                                <input type="text" class="form-control" id="question_5" name="question_5" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_6">He <strong>(not/spend)</strong> his holidays in Spain every year.</label>
                                <input type="text" class="form-control" id="question_6" name="question_6" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_7">I <strong>(not/meet)</strong> the product owner tonight.</label>
                                <input type="text" class="form-control" id="question_7" name="question_7" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_8">They <strong>(not/fly)</strong> to Moscow tomorrow.</label>
                                <input type="text" class="form-control" id="question_8" name="question_8" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_9">We <strong>(not/work)</strong> this week.</label>
                                <input type="text" class="form-control" id="question_9" name="question_9" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_10">The film <strong>(not/begin)</strong> at 7 o’clock. </label>
                                <input type="text" class="form-control" id="question_10" name="question_10" placeholder="Enter correct form">
                            </div>
                        </li>
                    </ol>
                    <!-- Submit & Back buttons -->
                    <div class="row justify-content-between">
                        <div class="col-lg-4 order-lg-1 d-none d-lg-block text-center">
                            <a href="homework_3.html" class="btn btn-block btn-outline-dark py-3 my-4">Назад</a>
                        </div>
                        <div class="col-12 order-12 d-block d-lg-none text-center">
                            <a href="homework_3.html" class="btn btn-block btn-outline-dark py-3 my-4">Назад</a>
                        </div>
                        <div class="col-lg-4 order-lg-12 d-none d-lg-block text-center">
                            <button type="submit" class="btn btn-block btn-outline-success py-3 my-4" data-toggle="modal" data-target="#urlModal">Сдать</button>
                        </div>
                        <div class="col-12 order-1 d-block d-lg-none text-center">
                            <button type="submit" class="btn btn-block btn-outline-success py-3 my-4" data-toggle="modal" data-target="#urlModal">Сдать</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal -->
            {% include "../../../common/modal.twig" %}
        </div>
    </div>
{% endblock %}