{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Exercise 4 Content -->
    <div class="container-fluid top-space">
        <!-- Title & Description -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="display-4">Упражнение 4</h1>
                <hr>
                <p class="lead">Complete the sentences. Use Present Simple or Present Continuous:</p>
                <p>Ex: <strong>(leave/you)</strong> now? - Are you leaving now?</p>
            </div>
        </div>
        <!-- Exercise content -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <form>
                    <ol>
                        <li>
                            <div class="form-group">
                                <label for="question_1"><strong>(have/you)</strong> any code examples?</label>
                                <input type="text" class="form-control" id="question_1" name="question_1" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_2"><strong>(hate/he)</strong> being late?</label>
                                <input type="text" class="form-control" id="question_2" name="question_2" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_3">Who <strong>(write)</strong> backend on this project?</label>
                                <input type="text" class="form-control" id="question_3" name="question_3" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_4"><strong>(send/he)</strong> you an e-mail everyday?</label>
                                <input type="text" class="form-control" id="question_4" name="question_4" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_5">When <strong>(arrive/the plane)</strong>?</label>
                                <input type="text" class="form-control" id="question_5" name="question_5" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_6"><strong>(visit/you)</strong> Katya in hospital today?</label>
                                <input type="text" class="form-control" id="question_6" name="question_6" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_7">What time <strong>(get up/you)</strong> in the mornings?</label>
                                <input type="text" class="form-control" id="question_7" name="question_7" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_8">Why <strong>(laugh/he)</strong> now?</label>
                                <input type="text" class="form-control" id="question_8" name="question_8" placeholder="Enter correct form">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="question_9"><strong>(meet/they)</strong> at the bar at the moment?</label>
                                <input type="text" class="form-control" id="question_9" name="question_9" placeholder="Enter correct form">
                            </div>
                        </li>
                    </ol>
                    <!-- Submit & Back buttons -->
                    <div class="row justify-content-between">
                        <div class="col-lg-4 order-lg-1 d-none d-lg-block text-center">
                            <a href="homework_3.html" class="btn btn-block btn-outline-dark py-3 my-4">Назад</a>
                        </div>
                        <div class="col-12 order-12 d-block d-lg-none text-center">
                            <a href="homework_3.html" class="btn btn-block btn-outline-dark py-3 my-4">Назад</a>
                        </div>
                        <div class="col-lg-4 order-lg-12 d-none d-lg-block text-center">
                            <button type="submit" class="btn btn-block btn-outline-success py-3 my-4" data-toggle="modal" data-target="#urlModal">Сдать</button>
                        </div>
                        <div class="col-12 order-1 d-block d-lg-none text-center">
                            <button type="submit" class="btn btn-block btn-outline-success py-3 my-4" data-toggle="modal" data-target="#urlModal">Сдать</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal -->
            {% include "../../../common/modal.twig" %}
        </div>
    </div>
{% endblock %}