{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Track description -->
    <div class="container-fluid top-space">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row d-lg-none">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="display-4">Present Simple vs Present Continuous</h1>
                                        <hr>
                                        <h4>Слова-маркеры:</h4>
                                        <p>Если рядом с глаголом есть следующие слова, то выбор времени упрощается.</p>
                                        <ul>
                                            <li>Present Simple
                                                <ul>
                                                    <li>always</li>
                                                    <li>every</li>
                                                    <li>often</li>
                                                    <li>normally</li>
                                                    <li>usually</li>
                                                    <li>sometimes</li>
                                                    <li>seldom</li>
                                                    <li>never</li>
                                                    <li>first</li>
                                                    <li>then</li>
                                                </ul>
                                            </li>
                                            <li>Present Continuous
                                                <ul>
                                                    <li>at the moment</li>
                                                    <li>today</li>
                                                    <li>now</li>
                                                    <li>right now</li>
                                                    <li>Listen!</li>
                                                    <li>Look!</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <a href="lesson_3.html" class="btn btn-outline-success">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 1</h1>
                                <p class="lead">Put the verb into the correct tense</p>
                                <hr>
                                <a href="exercise3_1.html" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 2</h1>
                                <p class="lead">Complete the sentences. Use Present Simple or Present Continuous.</p>
                                <hr>
                                <a href="exercise3_2.html" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 3</h1>
                                <p class="lead">Complete the negative sentences. Use Present Simple or Present Continuous.</p>
                                <hr>
                                <a href="exercise3_3.html" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 4</h1>
                                <p class="lead">Complete the sentences. Use Present Simple or Present Continuous.</p>
                                <hr>
                                <a href="exercise4_4.html" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-none d-lg-block">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="display-4">Present Simple vs Present Continuous</h1>
                                <hr>
                                <h4>Слова-маркеры:</h4>
                                <p>Если рядом с глаголом есть следующие слова, то выбор времени упрощается.</p>
                                <ul>
                                    <li>Present Simple
                                        <ul>
                                            <li>always</li>
                                            <li>every</li>
                                            <li>often</li>
                                            <li>normally</li>
                                            <li>usually</li>
                                            <li>sometimes</li>
                                            <li>seldom</li>
                                            <li>never</li>
                                            <li>first</li>
                                            <li>then</li>
                                        </ul>
                                    </li>
                                    <li>Present Continuous
                                        <ul>
                                            <li>at the moment</li>
                                            <li>today</li>
                                            <li>now</li>
                                            <li>right now</li>
                                            <li>Listen!</li>
                                            <li>Look!</li>
                                        </ul>
                                    </li>
                                </ul>
                                <a href="lesson_3.html" class="btn btn-outline-success">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}