{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Lesson 3 Content -->
    <div class="container-fluid top-space">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="display-4">Present Simple vs Present Continuous:</h1>
                <p class="lead">
                    Иногда встречаются ситуации, когда можно спутать применение Present Simple
                    и Present Continuous. В этом уроке мы вспомним, в каких случаях они применяются,
                    и где можно ошибиться.
                </p>
                <hr>
                <h4>Вообще или прямо сейчас?</h4>
                <ul>
                    <li>Present Simple</li>
                    <p>Действие в общем смысле, как рутина или факт.</p>
                    <p>Ex: I come to work every morning.</p>
                    <li>Present Continuous</li>
                    <p>Действие, которое происходит в момент речи (прямо сейчас).</p>
                    <p>Ex: My code is compiling now.</p>
                </ul>
                <h4>Несколько действий</h4>
                <ul>
                    <li>Present Simple</li>
                    <p>Несколько действий, происходящих друг за другом в настоящем времени.</p>
                    <p>Ex: I come to work, turn on my PC, pour some coffee and have a chat with a colleague.</p>
                    <li>Present Continuous</li>
                    <p>Несколько действий, происходящих одновременно.</p>
                    <p>Ex: My PC is booting and I’m enjoying my coffee.</p>
                </ul>
                <h4>Расписание или планы?</h4>
                <ul>
                    <li>Present Simple</li>
                    <p>Действие, происходящее по расписанию.</p>
                    <p>Ex: The movie starts at 6pm.</p>
                    <li>Present Continuous</li>
                    <p>Действие, запланированное на ближайшее будущее.</p>
                    <p>Ex: We’re celebrating a successful release tomorrow.</p>
                </ul>
                <h4>Ежедневная рутина или действие, ограниченное во времени?</h4>
                <ul>
                    <li>Present Simple</li>
                    <p>Ежедневная рутина.</p>
                    <p>Ex: He writes in JS.</p>
                    <li>Present Continuous</li>
                    <p>Действие происходит в ограниченный период времени (необязательно в момент речи).</p>
                    <p>Ex: He’s writing in PHP for this project.</p>
                </ul>
                <h4>Некоторые глаголы, использующиеся только в Present Simple (использование в форме
                    Continuous либо невозможно, либо глагол приобретает другой смысл):
                </h4>
                <ul>
                    <li>Состояние: be, cost, fit, suit</li>
                    <li>Обладание: belong, have</li>
                    <li>Чувства: feel, hear, see, smell, taste, touch</li>
                    <li>Чувства (эмоции): hate, hope, like, love, prefer, regret, want, wish</li>
                    <li>Мыслительная деятельность: believe, know, think, understand</li>
                </ul>
                <h4>Слова-маркеры:</h4>
                <p>Если рядом с глаголом есть следующие слова, то выбор времени упрощается.</p>
                <ul>
                    <li>Present Simple
                        <ul>
                            <li>always</li>
                            <li>every</li>
                            <li>often</li>
                            <li>normally</li>
                            <li>usually</li>
                            <li>sometimes</li>
                            <li>seldom</li>
                            <li>never</li>
                            <li>first</li>
                            <li>then</li>
                        </ul>
                    </li>
                    <li>Present Continuous
                        <ul>
                            <li>at the moment</li>
                            <li>today</li>
                            <li>now</li>
                            <li>right now</li>
                            <li>Listen!</li>
                            <li>Look!</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start & Back buttons -->
        <div class="row justify-content-around">
            <div class="col-md-3 order-lg-1 d-none d-lg-block text-center">
                <a href="learn.html" class="btn btn-block btn-outline-dark my-3 py-3">Back</a>
            </div>
            <div class="col-12 order-12 d-block d-lg-none text-center">
                <a href="learn.html" class="btn btn-block btn-outline-dark my-3 py-3">Back</a>
            </div>
            <div class="col-md-3 order-lg-12 d-none d-lg-block text-center">
                <a href="homework_3.html" class="btn btn-block btn-outline-success my-3 py-3">Start Homework</a>
            </div>
            <div class="col-12 order-1 d-block d-lg-none text-center">
                <a href="homework_3.html" class="btn btn-block btn-outline-success my-3 py-3">Start Homework</a>
            </div>
        </div>
    </div>
{% endblock %}