{% extends "../../../common/layout.twig" %}

{% block content %}
    <!-- Track description -->
    <div class="container-fluid top-space">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row d-lg-none">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="display-4">Present Simple</h1>
                                        <p class="lead">Описывает действия, происходящие в настоящее время,
                                            но не привязанные к моменту речи.
                                        </p>
                                        <hr>
                                        <h4>Образование:</h4>
                                        <ul>
                                            <li>Subject + Verb(inf) + Object – утвердительное предложение</li>
                                            <li>Subject + do/does not + Verb(inf) + Object – отрицательное </li>
                                            <li>Do/does + Subject + Verb(inf) + Object? - вопросительное</li>
                                        </ul>
                                        <hr>
                                        <h4>Употребление:</h4>
                                        <ul>
                                            <li>Повторяющиеся действия/привычки</li>
                                            <li>Действие в широком смысле</li>
                                            <li>Факты</li>
                                            <li>Договоренности/запланированные события/расписание</li>
                                            <li>Последовательность действий в настоящем времени</li>
                                            <li>События, запланированные в будущем</li>
                                            <li>Некоторые придаточные времени и условия</li>
                                        </ul>
                                        <a href="lesson_1.html" class="btn btn-outline-success">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 1</h1>
                                <p class="lead">Fill in the gaps</p>
                                <hr>
                                <a href="exercise_1.html" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 2</h1>
                                <p class="lead">Negate the sentences</p>
                                <hr>
                                <a href="#" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 3</h1>
                                <p class="lead">Compose questions out of the sentences</p>
                                <hr>
                                <a href="#" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Track Vertical Line -->
                <div class="row">
                    <div class="col-12">
                        <div class="track-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Exercise 4</h1>
                                <p class="lead">Translate into English </p>
                                <hr>
                                <a href="exercise_4.html" class="btn btn-outline-success">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-none d-lg-block">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Present Simple</h1>
                        <p class="lead">Описывает действия, происходящие в настоящее время,
                            но не привязанные к моменту речи.
                        </p>
                        <hr>
                        <h4>Образование:</h4>
                        <ul>
                            <li>Subject + Verb(inf) + Object – утвердительное предложение</li>
                            <li>Subject + do/does not + Verb(inf) + Object – отрицательное </li>
                            <li>Do/does + Subject + Verb(inf) + Object? - вопросительное</li>
                        </ul>
                        <hr>
                        <h4>Употребление:</h4>
                        <ul>
                            <li>Повторяющиеся действия/привычки</li>
                            <li>Действие в широком смысле</li>
                            <li>Факты</li>
                            <li>Договоренности/запланированные события/расписание</li>
                            <li>Последовательность действий в настоящем времени</li>
                            <li>События, запланированные в будущем</li>
                            <li>Некоторые придаточные времени и условия</li>
                        </ul>
                        <a href="lesson_1.html" class="btn btn-outline-success">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}